<p>servers works!</p>
<label>Server name</label>

<!-- this is event binding -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- this is string interpolation -->
<!-- <p>{{serverName}}</p> -->

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add server
</button>
<p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer> <p> server was created</p></ng-template>

<!-- since Servers [] contain 2 elements, it loops twice gives two app-server components-->
<app-server *ngFor="let server of servers"></app-server>
<!-- <app-server></app-server> -->
